#habilidades {
    display: flex;
    flex-direction: column;
    
    padding: 7em 10em;
    
    gap: 3em;
}
#habilidades h2 {
    font-size: 3em;
    font-weight: 700;
}

.habilidades__flexbox {
    padding: 4em;
    display: flex;
    justify-content: center; 
    gap: 3em;
    border: .2em solid black;
    border-radius: 1em;
    object-fit: contain;
    flex-wrap: wrap;
}

.habilidades__flexbox h3 {
    font-size: 2em;
    font-weight: 500;
}
