#home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 7em 20em;
    column-gap: 3em;
}
home__text-flexbox {
    display: flex;
    flex-direction: column;
}
.home__text-flexbox h1 {
    font-size: var(--fs-h1);
    font-weight: 900;
}

.home__text-flexbox p {
    font-size: 2em;
}