/* Estilos para o navbar */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: var(--cor-fundo);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Aumentei o z-index para garantir que fique acima do conteúdo */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adicionei uma sombra para separar o navbar do conteúdo */
}

/* Estilize os links dentro da barra de navegação */
.navbar__link {
    padding: 1em;
    display: inline-block;
    color: var(--cor-texto);
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s, color 0.3s; /* Adicionei uma transição suave para as mudanças de cor */
}

/* Mude a cor dos links quando o mouse estiver sobreposto */
.navbar .navbar__link:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Alterei a cor de fundo para um tom mais claro */
    color: var(--cor-destaque); /* Mantive a cor do texto como a cor de destaque definida */
}

/* Esconda o navbar__overlay enquanto o media query for maior que 800px */
.navbar__overlay-bt, .overlay-nav-content {
    display: none;
}


@media screen and (max-width: 800px) {
    .navbar__link {
        display: none;
    }
    .navbar{
        justify-content: space-between;
    }
    .navbar__overlay-bt{
        display: inline;
        color: var(--cor-texto);
        padding: 1em;
    }
    .navbar__overlay-bt__icon{
        width: 40px;
        height: 40px;
        fill: rgb(255,0,0);
    }
    .overlay-nav {
        /* Apenas exibir o overlay-nav em telas menores */
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: rgb(0,0,0);
      background-color: rgba(0,0,0, 0.9);
      overflow-x: hidden;
      transition: 0.5s;
    }
    
    .overlay-nav-content {
        display: inline;
      position: relative;
      top: 25%;
      width: 100%;
      text-align: center;
      margin-top: 30px;
    }
    
    .overlay-nav a {
      padding: 8px;
      text-decoration: none;
      font-size: 36px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }
    
    .overlay-nav a:hover, .overlay-nav a:focus {
      color: #f1f1f1;
    }
    .overlay-nav span {
        background-color: red;
    }
    
    .overlay-nav .closebtn {
      position: absolute;
      top: 120px;
      right: 45px;
      font-size: 60px;
      color: var(--cor-destaque);
    }
    
}

@media screen and (max-width: 425px) {
    .overlay-nav a {font-size: 20px}
    .overlay-nav .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
}