#sobremim{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 7em 10em;
    width: 100%;
    gap: 2em;
}
.sobremim__text-flexbox {
    display: flex;
    flex-direction: column;
    gap: 2em 0;
}

.sobremim__text-flexbox h2 {
    font-size: 2em;
    font-weight: 700;
}
.sobremim__text-flexbox p {
    font-size: 19.2px;
}

@media screen and (max-width: 1024px) {
    #sobremim {
        padding: 7em 4em;
    }
}

@media screen and (max-width: 800px){
    #sobremim{
        flex-direction: column-reverse;
        gap: 1em;
    }
    #sobremim img{
        width:50%;
        min-width: 13.5em;
        height: 40%;
    }
    .sobremim__text-flexbox{
        gap: 1em;
    }
}

@media screen and (max-width: 425px){
    #sobremim{
        padding: 3em 2em;
    }
    .sobremim__text-flexbox h2 {
        font-size: 1.5em;
    }
    
}