/* Variaveis */
@import url(./footer.css);
@import url(./habilidades.css);
@import url(./home.css);
@import url(./navbar.css);
@import url(./projetos.css);
@import url(./sobremim.css);
@import url(./contato.css);

:root {
    --cor-texto: white;
    --cor-fundo:  #2b2b2b;
    --cor-destaque: #e3ef0b;
    --cor-texto-pagina: black;
    --cor-fundo-pagina: rgb(221, 221, 221);
    --fs-title-section: 40px;
    --fs-h1: 50px;
}

body{
    background-color: var(--cor-fundo-pagina);
    color: var(--cor-texto-pagina);
    width: 100%;
}


 

