.title-true{
    display: flex;
    max-width: 90%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.title-container{
    display: flex;
    width: 70%;
    align-items: center;
}
.title-false{
    display: flex;
    max-width: 90%;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    /* justify-content: flex-start; */
}
.title-h{
    font-size: 32px;
    font-weight: 600;
    color: var(--white);
    font-family: var(--font-family);
}
.title-presymbol{
    color: var(--primary);
    margin-right: 8px;
}

.title-asideline-true{
    margin-left: 16px;
    height: 2px;
    width: 43%;
    border:none;
    background-color: var(--primary);
    justify-self: self-start;
}

@media(max-width: 430px) {
    .title-true{
        max-width: 90%;
    }
    .title-h{
        font-size: 20px;
        width: 70%;
    }
    .title-container{
        width: 100%;
        padding-left: 1em;
    }
    .title-container{
        width: 60%;
        
    }
    .title-asideline-true{
        display: none;
    }
    
}