.title-true{
    display: flex;
    max-width: 90%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.title-container{
    display: flex;
    width: 70%;
    align-items: center;
}
.title-false{
    display: flex;
    max-width: 90%;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    /* justify-content: flex-start; */
}
.title-h2{
    font-size: 32px;
    font-weight: 600;
    color: var(--white);
    font-family: var(--font-family);
}
.title-h2::before{
    content: "#";
    color: var(--primary);
    
}
.title-line{
    margin-left: 16px;
    height: 2px;
    width: 33%;
    border:none;
    background-color: var(--primary);
    justify-self: self-start;
}