.profile-banner {
    padding: 2em;
    background-color: var(--background);
    max-width: 65em;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    

    .profile-banner__text-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 33em;
        flex: 1;
        margin-right: 2em;

    
        .text-content__title {
            margin-bottom: 1rem;
            font-size: 2em;
            font-family: var(--font-family);
            font-weight: semi-bold;
            color: var(--white);
            .title__highlight{
                color: var(--primary) !important;
            }
        }
        .text-content__description {
            color: var(--gray);
            font-family: var(--font-family);
            font-weight: 400; 
            margin-bottom: 1em;
            
        }
    }
    .profile-banner__image-content {
        flex: 1;
        position: relative;
        z-index: 1;
    }
    .background-dots {
        position: absolute;
        top: 200px;
        right: 150px;
        width: 84px;
        height: 84px;
        background-image: url(/src/components/ProfileBanner/assets/dots.svg);
        background-repeat: no-repeat;
        background-size: auto;
        z-index:-1;
        color: var(--white)
    }
}






