@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

:root {
  --background: #282C33;
  --gray: #ABB2BF;
  --white: #FFF;
  --primary: #C778DD;
  --font-family: "Fira Code", monospace;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: var(--background);
}

